{% extends 'mc_and_datasheet/base.html' %}
{% block title %}
<title>Under Development</title>
{% endblock %}
 
{% block content %}
<style>
	body {
		background-color: #111;
		color: #fff;
		font-family: Arial, sans-serif;
		font-size: 24px;
		line-height: 1.5;
		text-align: center;
		padding: 100px;
	}
	h1 {
		font-size: 48px;
		margin-bottom: 30px;
	}
</style>
<body>
	<h1>Contact page </h1>


	<ul style="text-align: left;">
		<li>ONNX model exchange format support</li>
		<li>Inference support (model testing)</li>
		<li>Model card modification (supported formats: JSON, Proto)</li>
		<li>Default template selection w.r.t different machine learning tasks</li>
		<!-- <li>Default template selection w.r.t different machine learning tasks</li> -->
		
	  </ul>


</body>
{% endblock %}