{% extends 'mc_and_datasheet/base.html' %}
{% block title %}
Section
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'mc_and_datasheet/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'mc_and_datasheet/css/bootstrap.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.4/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'mc_and_datasheet/css/styles_sidebar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mc_and_datasheet/css/sectiona.css' %}">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">


<style>
  body {
    font-family: 'Open Sans', sans-serif;
    background-image: url({% static 'mc_and_datasheet/assets/img/section.jpg' %});
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 200vh; /* full viewport height */
    margin: 0;
    overflow-x: hidden;
    }
    @media(max-width:400px){
    .checkboxlabel{
    display:block;  
    }
    }
    .list-group-item {
    background-color: #343a40;
    color: #ffffff;
    }
    .list-group-item:hover {
    background-color: #0980e1;
    color: #fff;
    }

  
</style>
<title>FEAT-AI</title>
  <br>
  <br>
  <br>
  <div class="active" id="sidebar-wrapper">
     <div class="list-group sidebar-heading border-bottom bg-secondary">Sections</div>
     <div class="list-group list-group-flush bg-white active ">
        {% for section in section_list %}
        <a class="list-group-item-dark list-group-item list-group-item-action p-2 {% if section.id == current_section_id %}active{% endif %}" href="{% url 'mc_and_datasheet:dt_section' section.id %}">
        {{ section.name }}
        </a>
        {% endfor %} 
     </div>
     <br>
     <br>
     <button class="list-group-item list-group-item-action list-group-item-dark p-1 bg-secondary" data-bs-toggle="modal" data-bs-target="#myModal" id="popup-btn">
     <i class="fas fa-plus-circle me-2"></i> Add Section
     </button>
       <br>
       <a class="list-group-item list-group-item-action list-group-item-dark p-1 bg-success" href="{% url 'mc_and_datasheet:datasheet_export' section.id  %}" name="createcard" class="submit-button">
       <i class="fas fa-file-export me-2"></i> Export Datasheet
       </a>
       <br>
       <a class="list-group-item list-group-item-action list-group-item-dark p-1 bg-danger" href="{% url 'mc_and_datasheet:delete' section.id  %}?delete_dt_section=1" name="delete_section" class="delete-button">
       <i class="fas fa-trash-alt me-2"></i> Reset
       </a>
  </div>
  <!-- Form Area -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content" style="background-color:#333333">
          <div class="modal-header">
             <h5 class="modal-title" id="myModalLabel" style="color:white">Add Section</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST">
             {% csrf_token %}
             <div class="modal-body">
                <div class="form-group">
                   <label for="section-name" style="color:white">Enter the name of the new section:</label>
                   <input type="text" class="form-control" id="section-name" name="newsectiontext">
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-secondary" name="sectionsubmit" onclick="location.href=window.location.href + '?cache=' + new Date().getTime()" >Submit</button> 
             </div>
          </form>
       </div>
    </div>
 </div>


<div id="main-content">
  <div class="container survey" style= " z-index: 1; " >
    <form method = 'POST' id="survey-form" class=".bg-secondary.bg-gradient text-white px-10 py-10" style=" z-index: 1; ">
    {% csrf_token %}
    <h1 id="title" class="text-white-50 mx-auto mt-2 mb-5 text-center" style= " z-index: 1; "  >{{section.name}} </h1>
    <p id="description" class="text-white-50 mx-auto mt-2 mb-5 text-center" style= " z-index: 1; " >{{ section.section_desc }}</p>
    <div class="form-row" style= " z-index: 1;">
       {% for field in section_questions %}
        <div class="col" style= " z-index: 1; " >
          <br><label id="name-label" style= " z-index: 1; " >{{field.field_question}}</label>
          <div class="input-group" style= " z-index: 1; " >
             <textarea id="description" class="form-control bg-dark text-light" type="text" name="a{{ field.id }}" style="z-index: 1;" >{{ field.get_answer }}</textarea>
             <button type="button" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                   <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                   <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
             </button>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
      <label id="email-label">Add Question</label>
      <div class="input-group">
        <input id="input-text1" name="newfieldtext" type="text" class="form-control bg-secondary text-dar" aria-describedby="emailHelp" placeholder="Add a new question...">
        <button type="submit" name="newfield" value= "newfield" class="btn btn-primary" onclick="saveForm()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fas fa-plus" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg>
        </button>
      </div>
        <small id="emailHelp" class="form-text text-muted-lg" style="color: rgb(110, 110, 110);">You can add a new question if a you have specific desire for the model card.</small>
    </div>
      <div>
        <button type="submit" name="save" value= "save" class="btn btn-outline-secondary" style="float:right" onclick="saveForm()">Save the Answers</button>
        <button type="button" class="btn btn-outline-secondary"  style="float:right" onclick="clearForm()">Clear the answers</button>
      </div>
      <br>
      <br>
      <br>
    </form>
   <!-- Close container survey -->
  </div>
<!-- Close the main content div -->
</div> 

<script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!-- <script src="{% static 'mc_and_datasheet/js/sectiona.js' %}"></script> -->
<script src = "{% static 'mc_and_datasheet/js/jquery-ui.js' %}"></script>
<script src="{% static 'mc_and_datasheet/js/scripts.js' %}"></script>
<script src="{% static 'mc_and_datasheet/js/scripts_sidebar.js' %}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
