<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	{% load static %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Impressum | Legal Notes</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mc_and_datasheet/css/typeplate.css' %}"><!-- typeplate styles -->
		
</head>
<body>

<!-- german version -->
<a name="german"/>
<div style="text-align: right;"><p><a href="#english">english version</a></p></div>
<h1>
Impressum</h1>
<h2>Diensteanbieter</h2>
<p>Anbieter dieser Internetpräsenz im Rechtssinne ist die Philipps-Universität Marburg.</p>
<p>Philipps-Universität Marburg<br/>
Fachbereich
Mathematik und Informatik – Der Dekan / Die
Dekanin<br/>
Hans-Meerwein-Straße 6, 35032 Marburg<br/>
Tel. 06421
28-21512, Fax 06421 28-25466<br/>
Internet:
<a href="https://www.uni-marburg.de/de/fb12">https://www.uni-marburg.de/de/fb12</a><br/>
E-Mail:
<a href="mailto:legal@mathematik.uni-marburg.de">legal@mathematik.uni-marburg.de</a></p>
<h2>Haftung für Inhalte</h2>
<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1
TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
gespeicherte fremde Informationen zu überwachen oder nach Umständen
zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
Informationen nach den allgemeinen Gesetzen bleiben hiervon
unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
Inhalte umgehend entfernen.</p>
<h2>Haftung für Links</h2>
<p>Unser Angebot enthält Links zu externen Webseiten
Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können
wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für
die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter
oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung
nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten
Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir
derartige Links umgehend entfernen.</p>
<h2>Urheberrecht</h2>
<p>Die durch die Seitenbetreiber erstellten Inhalte
und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der
schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
Downloads und Kopien dieser Seite sind nur für den privaten, nicht
kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite
nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
beachtet. Insbesondere werden Inhalte Dritter als solche
gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte
umgehend entfernen.</p>
<h2>Datenschutz</h2>
<p>Soweit auf unseren Seiten personenbezogene Daten
(beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
erfolgt dies soweit möglich stets auf freiwilliger Basis. Die
Nutzung der Angebote und Dienste ist, soweit möglich, stets ohne
Angabe personenbezogener Daten möglich. Der Nutzung von im Rahmen
der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
Übersendung von nicht ausdrücklich angeforderter Werbung und
Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die
Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte
im Falle der unverlangten Zusendung von Werbeinformationen, etwa
durch Spam-Mails, vor.</p>
<p><a href="https://www.mathematik.uni-marburg.de/legal/datenschutz.html#german">Datenschutzerklärung</a></p>
<small>(Quelle:
<a href="http://www.e-recht24.de/muster-disclaimer.htm">http://www.e-recht24.de/muster-disclaimer.html</a>)</small>
<!-- end of german version -->

<hr style="margin: 4em 0;">

<!-- english version -->
<a name="english"/>
<div style="text-align: right;"><p><a href="#german">Deutsche Version</a></p></div>
</div><h1>Ownership, Liability and Use</h1>
<h2>Ownership</h2>
<p>University of Marburg<br/>
Department of Mathematics and Computer Science - The Dean <br/>
Hans-Meerwein-Straße 6<br/>
D-35032 Marburg<br/>
Phone ++496421 28-21512, Fax ++496421 28-25466<br/>
Internet: <a href="https://www.uni-marburg.de/de/fb12">https://www.uni-marburg.de/de/fb12</a><br/>
E-Mail: <a href="mailto:legal@mathematik.uni-marburg.de">legal@mathematik.uni-marburg.de</a></p>
<h2>Liability</h2>
<p>Unless otherwise indicated,
this website and its contents are the property of the Department of
Mathematics and Computer Science of the University of Marburg,
hereinafter referred to as the Department. The copyright in the
material contained on this website belongs to the Department or its
licensors. The trademarks appearing on this website are protected by
the laws of England and by international trademark laws.</p>
<p>The information placed on this
website by the Department has been prepared solely for the purpose of
providing selected information about the Department and about the
respective services which they offer.</p>
<p>The Department does not guarantee the information contained on this website or on any site linked to
this website, is complete, accurate or up-to-date; and the Department
is not responsible for the reliability on any such information.</p>
<p>The
Department does not guarantee that usage of the website will be
uninterrupted, virus-free or error-free; or that usage of the website
will not affect other software or operating systems used to access
the website. Any guarantee provided under the general law is
expressly excluded to the fullest extent possible. In particular, the
Department does not guarantee that usage of the website will not
infringe the rights of any other person or organization; nor that the
website is of reasonable quality or fit for any particular purpose,
even if the Department has received notice of an intention to use the
website for that purpose.</p>
<p>Unless expressly stated
otherwise, opinions given on this website are those of the
individuals making them, and not those of the Department: the
Department is not responsible for such opinions or any claims
resulting from them.</p>
<p>To the extent permitted by law,
the Department accepts no liability for any loss or damage that may
be suffered by other parties as a direct or indirect result of using
this website (including loss of profit, loss of opportunity, loss of
business, and consequential loss).</p>
<p>Persons submitting material to
this website are solely responsible for the material and for any
claims relating to its content, whether made against the Department
or otherwise. Although  the Department does not exercise editorial
control over any content posted by users to the website, the
Department reserves the right at its sole discretion to remove any
content  reported to it as objectionable, whether or not the
objection is substantiated, and otherwise to review, edit or delete
any comments posted by users that it deems defamatory, unlawful,
threatening or otherwise objectionable. Notwithstanding the
foregoing, and to the extent permitted in law, the Department accepts
no responsibility or liability for any material communicated by third
parties via the website.</p>
<p>Subject to the above, those
gaining access to this website are authorized to make use of the
website (and of any chat rooms and interactive facilities which are
available through it) for any lawful purposes. The following is a
non-exclusive list of uses that are expressly prohibited:
<ol type="a">
<li>using the website to commit or encourage unlawful acts, including
unlawful copying of copyright material;</li>
<li> misrepresenting the
user's identity or authority;</li>
<li> dissemination of any type of
virus or other device intended to cause nuisance, loss or corruption
of any information on the website or accessed through it, or of any
systems used to operate the website or any systems accessed through
it;</li>
<li> tampering with communications which are not the user's,
or making any alteration to any information on the website;</li>
<li>
accessing or attempting to access other parties' user accounts;</li>
<li>
hacking or attempting to hack any part of the website, or any system
used to run it, or any system accessed through the website;</li>
<li>
disrupting the flow of communications in interactive areas;</li>
<li>
storing personal data derived from the website;</li>
<li> posting
material that:</li>
<ol type="i">
<li> infringes intellectual
property rights;</li>
<li> defames or threatens
other people or organizations;</li>
<li> is
offensive, obscene or hateful, or which other users of the website
are likely to consider offensive, obscene or hateful.</li></ol></ol></p>
<p>These terms are governed by
German law.</p>
<p>If any of these terms is found
by a court of competent jurisdiction to be illegal or unenforceable,
the term(s) in question will be severed; but the remaining terms will
continue in force.</p>
<!-- end of english version -->

<!-- style copyright reference -->
<div style="padding-top:1em; text-align: right;">
<hr>
<small >CSS Style based on the <a href="https://github.com/typeplate/starter-kit">typeplate starter-kit</a>.</small>
</div>
</body>
</html>
