<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	{% load static %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Datenschutzerklärung | Privacy Policy</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mc_and_datasheet/css/typeplate.css' %}"><!-- typeplate styles -->
</head>
<body>

<!-- german version -->
<a name="german"/>
<div style="text-align: right;"><p><a href="#english">english version</a></p></div>
<h1>Datenschutzerklärung</h1>
<h2>Gültigkeit</h2>
<p>Die Datenschutzerklärung ist aktuell gültig und
zuletzt am 26. März 2021 geändert worden.</p>
<h2>Allgemeine Hinweise zur Verarbeitung Ihrer Daten</h2>
<p>Die Verarbeitung der Daten durch den Fachbereich
Mathematik und Informatik der Philipps-Universität, im Folgenden
kurz Fachbereich genannt, erfolgt gemäß den datenschutzrechtlichen
Bestimmungen, insbesondere der Verordnung (EU) 2016/679 des
Europäischen Parlaments und des Rates vom 27. April 2016 zum Schutz
natürlicher Personen bei der Verarbeitung personenbezogener Daten,
zum freien Datenverkehr und zur Aufhebung der Richtlinie 95/46/EG
(Datenschutz-Grundverordnung, kurz: DSGVO) und des Hessischen
Datenschutz- und Informationsfreiheitsgesetzes (kurz: HDSIG) in der
ab dem 25. Mai 2018 geltenden Fassung.</p>
<p>Nach Artikel 13 DSGVO hat der Fachbereich eine
Informationspflicht bei der Erhebung von personenbezogenen Daten. Der
Verantwortliche „stellt […] der betroffenen Person zum Zeitpunkt
der Erhebung dieser Daten […] Informationen zur Verfügung, die
notwendig sind, um eine faire und transparente Verarbeitung zu
gewährleisten.“</p>
<p>Der Fachbereich nimmt den Schutz Ihrer Daten
ernst. Er möchte in präziser, transparenter, verständlicher und
leicht zugänglicher Form informieren, wann welche Daten bei Ihrem
Zugriff auf vom Fachbereich angebotenen Webseiten erhoben und wie
diese verwendet werden.</p>
<p>Durch die technologische
Weiterentwicklung können Änderungen am Inhalt dieser
Datenschutzerklärung notwendig werden. Der Fachbereich erwartet,
dass Sie regelmäßig prüfen, ob eine aktualisierte
Datenschutzerklärung vorliegt und diese zur Kenntnis nehmen.</p>
<h2>Anschrift des Verantwortlichen</h2>
<p>Verantwortlich für die Verarbeitung
personenbezogener Daten auf den vom Fachbereich angebotenen Webseiten ist </p>
<p>Philipps-Universität Marburg<br/>
Fachbereich
Mathematik und Informatik – Der Dekan / Die
Dekanin<br/>
Hans-Meerwein-Straße 6, 35032 Marburg<br/>
Tel. 06421
28-21512, Fax 06421 28-25466<br/>
Internet:
<a href="https://www.uni-marburg.de/de/fb12">https://www.uni-marburg.de/de/fb12</a><br/>
E-Mail:
<a href="mailto:legal@mathematik.uni-marburg.de">legal@mathematik.uni-marburg.de</a></p>
<h2>Verarbeitung Ihrer Daten</h2>
<p>Diese Datenschutzerklärung gilt für die  auf dem
Webserver des Fachbereichs unter
„<a href="https://www.mathematik.uni-marburg.de/">https://www.mathematik.uni-marburg.de</a>“
angebotenen Webseiten und für die auf diesen Webseiten erhobenen
personenbezogenen und nicht personenbezogenen Daten.</p>
<p>Ihre Daten werden im Land Hessen der
Bundesrepublik Deutschland und nicht in Staaten außerhalb des
Anwendungsbereichs der DSGVO gespeichert oder verarbeitet.</p>
<h3>Personenbezogene Daten</h3>
<p>Nach Artikel 4 DSGVO sind „personenbezogene
Daten alle Informationen, die sich auf eine identifizierte oder
identifizierbare natürliche Person […] beziehen; als
identifizierbar wird eine natürliche Person angesehen, die direkt
oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie
einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer
Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die
Ausdruck der physischen, physiologischen, genetischen, psychischen,
wirtschaftlichen, kulturellen oder sozialen Identität dieser
natürlichen Person sind, identifiziert werden kann.“</p>
<h3>Daten zur Auslieferung der Webseite</h3>
<p>Zur Auslieferung der Webseite an Ihren Rechner
beziehungsweise Ihren Webbrowser ist eine vorübergehende Speicherung
der IP-Adresse durch den Webserver.</p>
<h3>Protokollierte Daten und Speicherdauer</h3>
<p>Bei Ihrem Zugriff auf die vom Fachbereich
angebotenen Webseiten werden folgende Daten in Form von
Zugriffsprotokollen gespeichert:</p>
<ul>
	<li>die IP-Adresse des Clients / zugreifenden Rechners </li>
	<li>die (Server-)Zeit des Zugriffs </li>
	<li>die HTTP-Methode und die URL der Anfrage </li>
	<li>der HTTP-Statuscode der Server-Antwort </li>
	<li>die Byte-Größe der Server-Antwort </li>
	<li>die vom Browser übermittelte Herkunftsseite </li>
	<li>der User-Agent (die Browser-Selbstbezeichnung) </li>
</ul>
<p>Zugriffe auf unsere Webseiten werden in
Protokolldateien für sieben vollständige Tage gespeichert und dann
durch Rotation gelöscht. Die IP-Adressen, die in den
Protokolldateien abgelegt werden, sind um das letzte Byte gekürzt
und dadurch anonymisiert. Die Zuordnung einer IP-Adresse zu einer
natürlichen Person ist damit nicht oder nur mit einem
unverhältnismäßig großen Aufwand möglich.</p>
<p>Um einen andauernden oder kurz bevorstehenden
vorsätzlichen Angriff auf unsere Webseite abzuwehren und Beweise zu
sichern, behält sich der Fachbereich vor, kurzzeitig die
Anonymisierung der IP-Adresse in den Protokolldateien zu
deaktivieren.</p>
<h2>Verweise zu Webseiten anderer Anbieter</h2>
<p>Die vom Fachbereich angebotenen Webseiten
enthalten gegebenenfalls Verweise („Links“) zu Webseiten anderer
Anbieter, beispielsweise über Social-Media-Icons zu Facebook,
Instagram, Twitter oder Youtube. Der Fachbereich hat keinen Einfluss
darauf, ob diese Anbieter ebenfalls die gesetzlichen
Datenschutzbestimmungen erfüllen. Bitte prüfen Sie stets die
Datenschutzerklärungen der anderen Anbieter.</p>
<h2>Empfänger Ihrer Daten bei gesetzlicher oder
gerichtlicher Verpflichtung</h2>
<p>Die Daten, die bei Ihrem Zugriff auf die vom
Fachbereich angebotenen Webseiten gespeichert wurden, werden nur an
Dritte weitergegeben, soweit der Fachbereich gesetzlich oder durch
eine Gerichtsentscheidung dazu verpflichtet ist oder dies im Falle
eines Angriffs auf seinen Webserver zur Rechts- oder Strafverfolgung
notwendig ist.</p>
<h2>Ihre Rechte</h2>
<p>Als Nutzer der vom Fachbereich angebotenen
Webseiten haben Sie nach den Art. 15 bis 18, 21 DSGVO und dem HDSIG
verschiedene Rechte: Recht auf Auskunft, Recht auf Berichtigung,
Recht auf Löschung, Recht auf Einschränkung der Verarbeitung, Recht
auf Widerspruch und Recht auf Beschwerde.</p>
<h3>Auskunftsrecht</h3>
<p>Nach Artikel 15 DSGVO können Sie über Ihre
personenbezogenen Daten Auskunft verlangen, die der Fachbereich
verarbeitet. In Ihrem Auskunftsantrag sollten Sie Ihr Anliegen
präzisieren, um dem Fachbereich das Zusammenstellen der
erforderlichen Daten zu erleichtern. Bitte beachten Sie, dass Ihr
Auskunftsrecht durch Vorschriften des HDSIG eingeschränkt wird.</p>
<h3>Löschungsrecht</h3>
<p>Entsprechend Artikel 17 DSGVO und § 34 HDSIG
können Sie die Löschung Ihrer personenbezogenen Daten verlangen.
Ihr Anspruch auf Löschung hängt von einigen Bedingungen ab,
beispielsweise ob der Fachbereich Ihre Daten noch zur Erfüllung
seiner gesetzlichen Aufgaben benötigt.</p>
<h3>Widerspruchsrecht</h3>
<p>Nach Artikel 21 DSGVO haben Sie das Recht, aus
Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit
der Verarbeitung Daten zu widersprechen, die Sie betreffen. Ihrem
Widerspruch kann der Fachbereich allerdings nicht immer entsprechen,
beispielsweise wenn den Fachbereich nach § 35 HDSIG eine
Rechtsvorschrift zur Verarbeitung verpflichtet. Bitte beachten Sie
auch, dass der Fachbereich zwingend die IP-Adresse Ihres
Clients verarbeiten muss, damit Sie die Webseite nutzen können.</p>
<h3>Beschwerderecht</h3>
<p>Wenn Sie der Auffassung sind, dass der Fachbereich
bei der Verarbeitung Ihrer Daten datenschutzrechtliche Vorschriften
nicht beachtet hat, können Sie sich mit einer Beschwerde an den
behördlichen Datenschutzbeauftragten der Philipps-Universität
Marburg oder an die Aufsichtsbehörde für die Daten verarbeitenden
öffentlichen Stellen des Landes Hessen wenden, um diese prüfen zu
lassen.</p>
<h2>Behördlicher Datenschutzbeauftragter</h2>
<p>Philipps-Universität Marburg - Behördlicher
Datenschutzbeauftragter<br/>
Biegenstraße 10, 35037 Marburg<br/>
Tel.
06421 28-20, Fax: 06421 28-22065<br/>
Internet:
<a href="https://www.uni-marburg.de/">https://www.uni-marburg.de</a><br/>
E-Mail:
<a href="mailto:datenschutz@uni-marburg.de">datenschutz@uni-marburg.de</a></p>
<h2>Aufsichtsbehörde</h2>
<p>Hessischer Beauftragter für Datenschutz und
Informationsfreiheit<br/>
Gustav-Stresemann-Ring 1<br/>
65189
Wiesbaden<br/>
Tel.: 0611 1408-0, Fax: 0611 1408-611<br/>
Internet:
<a href="https://datenschutz.hessen.de/">https://datenschutz.hessen.de</a><br/>
E-Mail:
<a href="mailto:poststelle@datenschutz.hessen.de">poststelle@datenschutz.hessen.de</a></p>
<!-- end of german version -->

<hr style="margin: 4em 0;">

<!-- english version -->
<a name="english"/>
<div style="text-align: right;"><p><a href="#german">Deutsche Version</a></p></div>
<h1>
Data Protection and Privacy Statement</h1>
<h2>Validity</h2>
<p>The Data Protection and Privacy Statement is
currently valid and was last amended on March 26<sup>th</sup>, 2021.</p>
<h2>General Information on the Processing of your Data</h2>
<p>Data processing by the Department of
Mathematics and Computer Science of the University of Marburg
(Philipps-Universität Marburg), hereinafter referred to as the
Department, is carried out according to legal data protection
regulations, in particular according to the provisions of Regulation
(EU) 2016/679 of the European Parliament and Council dated 27 April
2016. This concerns the protection of natural persons with regard to
the processing of their personal data, the free movement of such
data, and the termination of the Directive 95/46/EG Data Protection
Basic Regulation (DSGVO), and the Hessian Data Protection and Freedom
of Information Act (HDSIG) in the version effective from 25 May,
2018.</p>
<p>According to Article 13 DSGVO, the Department
has an obligation to inform when collecting personal data. The
service provider [...] “ makes available to the person concerned at
the point in time when the data is being collected [...] information
which is necessary in order to guarantee fair and transparent data
processing.”</p>
<p>The Department takes the protection of your
personal data seriously. It would like to inform you in a precise,
transparent, understandable and easily accessible form about what
data is collected when accessing the Department's websites and how it
is used.</p>
<p>Due to future technological developments,
changes to the content of this data protection and privacy statement
may become necessary. The Department expects you to check regularly
whether an updated statement is available and to review it.</p>
<h2>Address of the Designated Responsible Representative</h2>
<p>The designated representative responsible for
the collection of personal data on this website is:</p>
<p>University of Marburg<br/>
Department of Mathematics and Computer Science - The Dean<br/>
Hans-Meerwein-Straße 6<br/>
D-35032 Marburg<br/>
Phone ++496421 28-21512, Fax ++496421 28-25466<br/>
Internet: <a href="https://www.uni-marburg.de/de/fb12">https://www.uni-marburg.de/de/fb12</a><br/>
E-Mail: <a href="mailto:legal@mathematik.uni-marburg.de">legal@mathematik.uni-marburg.de</a></p>
<h2>Processing of your Personal Data</h2>
<p>This data protection and privacy statement
applies to the web pages offered on the web server of the Department
at „https://www.mathematik.uni-marburg.de“  and to the personal
and non-personal data collected during access to these web pages.</p>
<p>Your data is stored or processed only in the
State of Hessen, Federal Republic of Germany, and not in countries
that are outside the scope of the DSGVO.</p>
<h3>Personal Data</h3>
<p>According to Article 4 DSGVO, personal data is
“all information which relates to an identified or identifiable
natural person [...]. An identifiable natural person is one who can
be identified, directly or indirectly, by reference to an identifier
such as a name, an identification number, location data, an online
identifier, or to one or more factors specific to the physical,
physiological, genetic, mental, economic, cultural, or social
identity of that natural person.”</p>
<h3>Data for Delivery of the Website</h3>
<p>In order to deliver the website to your
computer or web browser, a temporary storage of the IP address by the
web server is necessary.</p>
<h3>Logged Data and Storage Period</h3>
<p>When accessing the web pages offered by the
Department, the following data is stored in the form of access logs:</p>
<ul>
	<li>the client's IP address </li>
	<li>the (server) time of access </li>
	<li>the HTTP method and the URL of the request </li>
	<li>the HTTP status code of the server response </li>
	<li>the byte size of the server response </li>
	<li>the page of origin (the “referrer”) submitted by the browser </li>
	<li>the user agent (the browser's software name) </li>
</ul>
<p>Accesses to our web pages are stored in log
files for seven full days and then deleted by rotation. The IP
addresses stored in the log files are truncated by the last byte and
thus made anonymous. The assignment of an IP address to a natural
person is thus not possible or only possible with a
disproportionately large effort.</p>
<p>In order to defend against an ongoing or
imminent deliberate attack on the web server and to preserve
evidence, the Department reserves the right to temporarily disable
the anonymization of the IP address in the log files.</p>
<h2>Links to other Websites</h2>
<p>The web pages offered by the Department may
contain references (“links”) to websites of other
providers, for example via social media icons to Facebook, Instagram,
Twitter, or YouTube. The Department has no influence on whether these
providers also comply with the legal data privacy and security
regulations. Please  always check the privacy statements of the
providers.</p>
<h2>Recipients of your Data in
Compliance with Legal or Judicial Obligations</h2>
<p>The data recorded during your access of web
pages offered by the Department will only be forwarded to third
parties if the Department is legally obliged to do so, or in the case
of a court ruling, or if it is necessary for legal or criminal
prosecution in the event of an attack on the web server.</p>
<h2>Your Rights</h2>
<p>As a user of our website you have specific
rights according to Articles 15 to 18, 21 DSGVO and HDSIG: right to
information, right to correction and data deletion, right to limit
the data processed, right to object, and right of complaint.</p>
<h3>Right to Information</h3>
<p>According to Article 17 DSGVO, you can request
information on your personal data processed by the Department. In
your request for information disclosure you should specify precisely
your key concerns in order to facilitate the compilation of the
necessary data. Please note that your right to information is limited
by the rules of HDSIG.</p>
<h3>Right to Data Deletion</h3>
<p>In accordance with Article 17 DSGVO and § 34
HDSIG you have the right to request the deletion of your personal
data. Your right to deletion is dependent on certain conditions, for
example whether the Department requires your data in order to comply
with our legal obligations.</p>
<h3>Right to object</h3>
<p>According to Article 21 DSGVO, you have the
right to object to the processing of data concerning you at any time
on reasons relating to your particular situation. However, the
Department may not always be able to comply your objection, for
example if according to § 35 HDSIG the Department is legally obliged
to process your personal data. Please note that if you wish to access
web pages offered by the Department it is necessary to process the IP
address of your client.</p>
<h3>Right to lodge a Complaint</h3>
<p>If in your opinion the Department has not
complied with the legal regulations on data protection, you may lodge
a complaint with the official data protection officer at the
University of Marburg or with the regulatory authority responsible
for data processing in public institutions of the State of Hessen and
request them to examine your complaint.</p>
<h2>Data Protection Officer</h2>
<p>University of Marburg – Data Protection Officer<br/>
Biegenstraße 10<br/>
D-35037 Marburg<br/>
Tel. ++496421 28-20, Fax: ++496421 28-22065<br/>
Internet: <a href="https://www.uni-marburg.de/">https://www.uni-marburg.de</a><br/>
E-Mail: <a href="mailto:datenschutz@uni-marburg.de">datenschutz@uni-marburg.de</a></p>
<h2>State Supervisory Authority</h2>
<p>Hessian Commissioner for Data Protection and Freedom of Information <br/>
Gustav-Stresemann-Ring 1<br/>
D-65189 Wiesbaden<br/>
Tel.: ++49611 1408-0, Fax: ++49611 1408-611<br/>
Internet: <a href="https://datenschutz.hessen.de/">https://datenschutz.hessen.de</a><br/>
E-Mail: <a href="mailto:poststelle@datenschutz.hessen.de">poststelle@datenschutz.hessen.de</a></p>
<!-- end of english version -->

<!-- style copyright reference -->
<div style="padding-top:1em; text-align: right;">
<hr>
<small >CSS Style based on the <a href="https://github.com/typeplate/starter-kit">typeplate starter-kit</a>.</small>
</div>
</body>
</html>
