.checkboxlabel{
 display:flex; 
 justify-content: space-between;
 text-align:justify;
 }
.message{
 display:flex;
 justify-content:space-between;
 }
textarea{
 width:82%;
 }
.radiobuttons{
 display:flex;
 }
.survey{
 font-family: 'Raleway', sans-serif;
 margin-top:40px;
 }
h1{
 font-weight:400;
 font-family: 'Merriweather', serif
 }
#description{
 font-family: 'Merriweather', serif
 }
.active {
 background-color: #337ab7;
 color: #fff;
 }
.drop-zone {
 border: 2px dotted rgb(58, 58, 58);
 height: 130px;
 text-align: center;
 width: 100%;
 }
.drop-zone.drag-over {
 border-color: #000;
 }
.tooltip {
 position: relative;
 display: inline-block;
 }
.tooltip-text {
 visibility: hidden;
 width: 200px;
 background-color: #000;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px;
 position: absolute;
 z-index: 1;
 bottom: 125%;
 left: 50%;
 margin-left: -100px;
 opacity: 0;
 transition: opacity 0.3s;
 }
.tooltip:hover .tooltip-text {
 visibility: visible;
 opacity: 1;
 }
.default-placeholder {
 color: #888;
 }
.container_metrics {
 border: 1px solid #ccc;
 border-radius: 5px;
 padding: 10px;
 }


.list-group-item {
  background-color: #343a40;
  color: #ffffff;
}

.list-group-item:hover, .active {
  background-color: #555b60;
  color: #fff;
}

.drop-zone {
  border: 2px dotted black;
  height: 130px;
  text-align: center;
  width: 100%;
}

.drop-zone.drag-over {
  border-color: #000;
}

#sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  overflow-y: auto;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  width: 280px; /* initial width for larger screens */
  transition: width 0.5s; /* smooth width transition */
}

#main-content {
  margin-left: 250px; /* initial margin to accommodate the sidebar */
  transition: margin-left 0.5s; /* smooth margin transition */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
   /* full viewport height */
}

.checkboxlabel {
  display: block;
}

#sidebarToggle {
  position: fixed;
  top: 80px;
  left: 15px;
  z-index: 2010; /* ensures the button is above the sidebar */
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sidebarToggle:hover {
  background-color: #495057; /* slightly darker shade on hover */
}

/* Styles for when the sidebar is hidden on smaller screens */
#sidebar-wrapper:not(.active) {
  width: 100px;
  /* display: hidden; */
}

/* Hide the toggle button on larger screens */
@media (min-width: 600px) {
  #sidebarToggle {
    display: none;
  }
}

.container.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(69, 69, 69, 0.8); /* semi-transparent white background */
  border-radius: 15px; /* rounded corners */
  padding: 20px; /* spacing inside the container */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
  margin: 20px 0; /* spacing outside the container */
  width: 80%; /* or any desired width */
  max-width: 1200px; /* or any desired max width */
}
