body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    color: #fff;
    padding: 0;
    margin: 0;
  }

.navigation-menu  {
  width: 200px;
  height: 90%;
  background-color: rgb(65, 65, 65);
  color: #fff;
  position: fixed;
  left: 0;
  top: 75px;
  padding: 16px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

input[type="number"] {
  display: inline-block;
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-left: 10px;
}
.navigation-menu a.active {
   background-color: #577058;
   color: #fff;
   font-size: 16px; /* add this rule to change the font size */
}
.navigation-menu a {
  display: block;
  padding: 16px;
  color: #fff;
  text-decoration: none;
}
.navigation-menu a:hover {
  background-color: rgb(12, 12, 12);
}

.navigation-menu .submit-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation-menu .submit-button:hover {
  background-color: #3e8e41;
}

.navigation-menu .delete-button {
  background-color: #c22c06;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation-menu .delete-button:hover {
  background-color: #f1756c;
}



button:hover {
  background-color: red;
  color: white;
}

/* POPULATION OF THE SECTION ITSELF */
/* Form styling */
form {
  width: 50%; /* Adjust as needed */
  margin: 0 auto; /* Center the form on the page */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff; /* Change text color to white */
}

/* Input field styling */
input[type="text"] {
  width: 100%; /* Take up the full width of the form */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #555; /* Add a darker background color */
  color: #fff; /* Change text color to white */
}
/* Save button styling */
.save-button {
  width: 30%;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button {
  width: 30%;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 23px;
  
}

@media (max-width: 768px) {
  button.clear-button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}
/* Submit button styling */
input[type="submit"] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #555; /* Add a darker background color */
  color: #fff; /* Change text color to white */
}

/* Hover effect for buttons */
.save-button:hover{
    background-color: #3e8e41;
  }
input[type="submit"]:hover {
  background-color: #3e8e41;
}
  /* Subtitle styling */
.subtitle {
font-size: 25px;
font-weight: bold;
text-align: center;
padding: 15px;
margin-top: 50px;
margin-bottom: 50px;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
display: flex;
justify-content: center;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p {
  line-height: 1.5;
  text-align: justify;
}
ul {
  list-style-type: square;
  padding-left: 2em;
}
li {
  padding: .5em;
}
.drop-zone {
  border: 2px dotted black;
  height: 130px;
  text-align: center;
  width: 100%;
}


.drop-zone.drag-over {
  border-color: #000;
}
.appointment-time {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
  width: 250px;
}
label {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 500px;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
}

.form-group {
  display: flex;
  align-items: left;
  margin-bottom: 10px;
}

.form-group label {
  margin-right: 10px;
  margin-left: -75px;
}

.form-group input[type="checkbox"] {
  margin-right: 100px;
  margin-left: -125px;
}

.form-group input[type="number"] {
  width: 50px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  font-size: 14px;
}

#splitratio {
  width: 70px;
  margin-right: 10px;
  
}

#trainset {
  width: 70px;
  margin-right: 10px;
  
}